*{
  margin: 0;
  padding: 0;
}

header{
  position: relative; 
  
}

.main_greet{
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto 0;
}

.main_motto{
  margin-bottom: 20px;
}

.main_page{
  background-image: url(https://traversymedia.com/downloads/assets/beachshowcase.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  text-align:center;
  padding: o 20px;
}

.showcase h1{
  font-size: 50px;
  line-height: 1.2;
}

.button{
  font-size: 18px;
  text-decoration: none;
  color: #926239;
  border: #926239 1px solid;
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: 10px;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #926239;
  line-height: 1.6;
}

.section-a{
  padding: 20px;
  background: #926239;
  color: #fff;
  text-align: center;
}

.section-b{
  padding: 20px;
  background: #fff;
  text-align: center;

}

.section-c{
  position: relative;
}

.box-1{
  width: calc(100%/3);
  height: 160px;
  float: left;

  background-color: #926239;
  color: #fff;
}

.box-2{
  width: calc(100%/3);
  height: 160px;
  float: left;
}

.box-3{
  width: calc(100%/3);
  height: 160px;
  padding: 0px;
  float: right;

  background-color: #926239;
  color: #fff;
}

.box-1>p{
  padding: 10px 10px 0px 10px;
}

.box-2>p{
  padding: 10px 10px 0px 10px;
}

.box-3>p{
  padding: 10px 10px 0px 10px;
}